@font-face {
  font-family: 'airb-bold';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('@/assets/fonts/airbnb-cereal-app-cufonfonts/AirbnbCerealBold.ttf') format('truetype');
}
@font-face {
  font-family: 'airb-book';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('@/assets/fonts/airbnb-cereal-app-cufonfonts/AirbnbCerealBook.ttf') format('truetype');
}

@font-face {
  font-family: 'airb-medium';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('@/assets/fonts/airbnb-cereal-app-cufonfonts/AirbnbCerealMedium.ttf') format('truetype');
}
